div{
    width:100vw;
    height:99vh;
    text-align: center;
    font-size: 5vw;
    font-family: monospace;
    font-weight: 800;
    /* text-shadow:1px 1px 5px black; */
    color:#5c5c5c ;
}
body{
    background-color: #8b8b8b;
}